<!DOCTYPE html>
<html>
<head>
    <title>Notes App</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <h1>Notes</h1>
    <form action="/add" method="post">
        <textarea name="content" required></textarea>
        <button type="submit">Add Note</button>
    </form>
    <ul>
        {% for note in notes %}
            <li>
                {{ note.content }} 
                <a href="/delete/{{ note.id }}">Delete</a>
                <a href="/note?note_id={{ note.id }}">View</a>
                <a href="{{ url_for('shared_note') }}?note_id={{ note.id }}">Share</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
