<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Mine Noter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Mine Noter</h1>
        <a href="{{ url_for('logout') }}" class="btn btn-logout">Log ud</a>
    </header>
    <main>
        <form action="{{ url_for('add_note') }}" method="POST">
            <textarea name="content" rows="3" placeholder="Skriv din note her..." class="form-input"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Tilføj Note</button>
        </form>
        <ul class="note-list">
        {% for note in notes %}
            <li class="note-item">
                <p>{{ note.content }}</p>
                <div class="note-actions">
                  <a href="{{ url_for('view_note', note_id=note.id) }}" class="btn btn-secondary">Vis</a>
                  <a href="{{ url_for('shared_note', note_id=note.id) }}" class="btn btn-secondary">Del</a>
                  <a href="{{ url_for('delete_note', note_id=note.id) }}" class="btn btn-danger">Slet</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </main>
</body>
</html>